<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DocumentFormat.OpenXml" version="2.7.2" targetFramework="net461" />
  <package id="ExcelNumberFormat" version="1.0.10" targetFramework="net461" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net461" />
  <package id="System.IO.FileSystem.Primitives" version="4.0.1" targetFramework="net461" />
  <package id="System.IO.Packaging" version="4.0.0" targetFramework="net461" />
  <package id="YshXaf.DevExpress.Data_yesfree" version="18.2.5" targetFramework="net461" />
  <package id="YshXaf.DevExpress.Images_yesfree" version="18.2.5" targetFramework="net461" />
  <package id="YshXaf.DevExpress.Office.Core_yesfree" version="18.2.5" targetFramework="net461" />
  <package id="YshXaf.DevExpress.Pdf.Core_yesfree" version="18.2.5" targetFramework="net461" />
  <package id="YshXaf.DevExpress.Printing.Core_yesfree" version="18.2.5" targetFramework="net461" />
  <package id="YshXaf.DevExpress.RichEdit.Core_yesfree" version="18.2.5" targetFramework="net461" />
  <package id="YshXaf.DevExpress.Sparkline.Core_yesfree" version="18.2.5" targetFramework="net461" />
  <package id="YshXaf.DevExpress.Utils_yesfree" version="18.2.5" targetFramework="net461" />
  <package id="YshXaf.DevExpress.XtraBars_yesfree" version="18.2.5" targetFramework="net461" />
  <package id="YshXaf.DevExpress.XtraEditors_yesfree" version="18.2.5" targetFramework="net461" />
  <package id="YshXaf.DevExpress.XtraGrid_yesfree" version="18.2.5" targetFramework="net461" />
  <package id="YshXaf.DevExpress.XtraLayout_yesfree" version="18.2.5" targetFramework="net461" />
  <package id="YshXaf.DevExpress.XtraPrinting_yesfree" version="18.2.5" targetFramework="net461" />
  <package id="YshXaf.DevExpress.XtraTreeList_yesfree" version="18.2.5" targetFramework="net461" />
</packages>